<div class="container-fluid main-container">
  <div class="card">
    <div class="card-header">
      <h3>UPDATE BLOG POST</h3>
    </div>
    <div class="card-body">
      <form class="update-form">
        <div class="mb-3">
          <label for="title" class="form-label">Blog Title</label>
          <input
            for="title"
            id="update-title"
            value="{{blog.name}}"
            class="form-control"
          />
          <div class="hidden" id="update-blogId">{{blog.id}}</div>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Content</label>
          <textarea
            for="description"
            type="text"
            id="update-description"
            class="form-control"
          >{{blog.description}}</textarea>
        </div>
        <button class="btn btn-primary btn-newblog" type="submit">POST BLOG</button>
      </form>
    </div>
  </div>
</div>

<script src="./js/updateBlog.js"></script>