<div class="container-fluid main-container">
    <div class="card">
        <div class="card-header">
            <h3>
                {{blog.name}}
                </h3>
            <p>Posted by {{blog.user.username}} on {{format_date blog.date_created}}</p>
        </div>
        <div class="card-body">
            <p class="card-text">{{blog.description}}</p>
        </div>
    </div>    
</div>